.custom-bio-links{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width:330px;
}

.custom-bio-links li{
    list-style: none;
}

.custom-bio-links li a{
    display: inline-block;
    color: #000; 
    font-size: 22pt;
}

.custom-bio-links a:hover{
    transform: translate(0, -10px);
}