.contact-links li{
    list-style: none;
}

.contact-links li a{
    color: #000;
}

.contact-link {
    color: #000;
}

.contact-link, .contact-icon, .contact-text{
    text-decoration:none;
    color: #000;
}

.contact-icon{
    font-size: 28pt;
}

.contact-link:hover{
    color: #979797;
    transition: 0.3s;
}

.contact-icon:hover{
    transform: translate(0, -10px);
}

.contact-text{
    font-size: 12pt;
}