.education-timeline {
  border: 1px solid rgba(0, 0, 0, 0.125);
  background-color: #ffffff;
  margin-bottom: 20px;
  box-shadow: 10px 10px 5px #aaaaaa;
}

.badge-education {
  padding-right: 0.6em;
  padding-left: 1.2em;
  border-radius: 10rem;
  border: 2px solid transparent;
  border-color: #323a45;
  color: #323a45;
}

.education-text h4,
.education-text h5,
.education-text h6 {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 600;
}
