.custom-nav {
  line-height: 2em;
  border-top: solid 3px #fff;
  border-bottom: solid 3px #fff;
  font-weight: 700;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  font-family: "Open Sans Condensed", sans-serif;
}
