.publication-card ul li{
    list-style: none;
    border: 1px solid rgba(0,0,0,.125);
    background-color: #FFFFFF;
    margin-bottom: 20px;
    box-shadow: 10px 10px 5px #aaaaaa;
}

.publication-card ul li:last-child{
    margin-bottom: 0px;
}

.publication-card h3, .publication-card h4, .publication-card h5, .publication-card h6{
    font-family: 'Open Sans Condensed',sans-serif;
    font-weight: 700;
}

.publication-card-tags{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.publication-card-tags a{
    font-size: 11pt;
}
