.publication-card ul li {
  list-style: none;
  border: 1px solid rgba(0, 0, 0, 0.125);
  background-color: #ffffff;
  margin-bottom: 20px;
  box-shadow: 10px 10px 5px #aaaaaa;
}

.publication-card ul li:last-child {
  margin-bottom: 0px;
}

.publication-card h3,
.publication-card h4,
.publication-card h5,
.publication-card h6 {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
}

.publication-card-tags {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.publication-card-tags a {
  font-size: 11pt;
  margin: 5px;
}

.publication-card img.publication-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .publication-card .row {
    flex-direction: column;
    text-align: center;
  }

  .publication-card img.publication-image {
    max-width: 80%;
    margin: 0 auto 20px;
  }
}
