.custom-section-header{
    font-family: 'Ultra', serif;
    font-size: 36pt;
}

.custom-section-sub-header{
    font-family: 'Ultra', serif;
    font-size: 26pt;
}
.custom-starter-text{
    /* font-family: 'Open Sans Condensed', sans-serif; */
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    letter-spacing: -2px;
    /* font-size: 22pt; */
}
.custom-paragraph-text{
    text-align: justify;
    text-justify: inter-word;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
}
  
/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: darkgray; }
}

.typewrite-effect{
    border-right: .1em solid black; /* The typwriter cursor */
    width: 13em;
    white-space: nowrap; /* Keeps the content on a single line */
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    animation: typing 2s steps(20, end), blink-caret .5s step-end infinite alternate;
}