.custom-section-header{
    font-family: 'Ultra', serif;
    font-size: 36pt;
}

.custom-section-sub-header{
    font-family: 'Ultra', serif;
    font-size: 26pt;
}
.custom-starter-text{
    /* font-family: 'Open Sans Condensed', sans-serif; */
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    letter-spacing: -2px;
    /* font-size: 22pt; */
}
.custom-paragraph-text{
    text-align: justify;
    text-justify: inter-word;
}